<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhomlala.featuresdetails">

    <application>
        <activity
            android:name=".MovieDetailsActivity"
            android:label="@string/title_activity_movie_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".DetailsActivity" />
    </application>

</manifest>